<div class="container">

<% if @eligible %>
  <div class="page-header">
      <!-- <h1>Do I qualify for All Kids?</h1> -->
        <!-- <p class="subhead">The All Kids program offers many Illinois children comprehensive healthcare that includes doctors visits, hospital stays, prescription drugs, vision care, dental care and medical devices like eyeglasses and asthma inhalers.</p> -->
  </div>


 <div class="row" style="text-align:center;">
    <div class="col-md-8 col-md-offset-2">
        <i class="fa fa-check-circle fa-5x"></i>
          <h1>You may be in luck!</h1>


          <% if @assist_eligible %>
            <h4>Based on your household size and income, you likely qualify for All Kids Assist.</h4>
          <% elsif @share_eligible %>
            <h4>Based on your household size and income, you likely qualify for All Kids Share.</h4>

          <% elsif @premium1_eligible %>
            <h4>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</h4>

          <% elsif @premium2_eligible %>
            <h4>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</h4>

          <% end %>
          <br>

          <p class="subhead">To complete your application online</p>
          <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.9912272225853554", :class => "btn btn-success btn-resolution" %>
          </div>
          </div>

      <% else %>

 <!--  <div class="page-header">
          <h1>Do I qualify for All Kids?</h1>
          <p class="page lead">The All Kids program offers many Illinois children comprehensive healthcare that includes doctors visits, hospital stays, prescription drugs, vision care, dental care and medical devices like eyeglasses and asthma inhalers.</p>
  </div> -->

      <!-- <div class="panel panel-default" style="margin: 0 0 40px 0">
        <div class="panel-body"> -->
<br>
<br>
  <div class="row" style="text-align:center;">
    <div class="col-md-8 col-md-offset-2">
        <!-- <i class="fa fa-times-circle fa-5x"></i> -->
          <h1>Something else in mind!</h1>

            <h4>So, it looks like you possibly don't qualify for <a href="/all_kids/new"> All Kids</a>. However, our friends at
            Purple Binder found some other resources that might help. If you and your family don't have health coverage in 2014, you may have to pay a fee - and all of your health care.
            </h4>

            <br>
            <br>


        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">

            <p class="subhead">To learn more about fees<br> from Get Covered</p>
            <%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution" %>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">

            <p class="subhead"> To find Get Covered <br>Illinois events in your area</p>
            <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution" %>
          </div>
        </div>

        <br>
        <br>
        <br>

          <div>
            <p> Get Covered Illinois is a resource that helps families register for insurance at in-person events.<br>You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.</p>
          </div>

          <br>


          <%= image_tag("pblogo.jpg", :class => "logo-padding") %>



        <% end %>
      </div>
</div>
<br>
<br>
<br>


