Hello <%= @email %>,
<br><br>You have requested to be subscribed 
to the mailing list for mRelief's Public Template. Please <a href="<%= root_url %>email_lists/confirm_email?hash=<%= @generated_hash %>">
confirm</a> your subscription.<br><br>Thank you!
