<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
 	<% if @author.present? %>
 	<p>Hello <%= @author %>, </p>
 	<% else %>
 	<p>Hi there!</p>
 	<% end %>

 	<p>I was reading <%= @publication %> and wanted to reach out with some news that I thought might be relevant to your writing.
 	</p>
 	<p>Today mRelief and the City of Chicago launched a new tool, the Early Learning Finder. This online and text messaging-based screening tool helps families identify which early learning programs work best for them. The new screener incorporates early learning programs funded by Head Start, Early Head Start, Preschool for All and the Child Care Assistance Program. Catered towards the 0-5 cohort, the screener will empower each parent with three results based on various eligibility criteria including location, age of children, and economic factors.</p>

 	<p>Would you consider writing about our tool for your audience? We will be at the Bud Billiken Parade all day connecting with parents, answering questions about our tool, and live Tweeting here. If you will be here too and want to connect, contact us below.  Sharing this to your readers would be really helpful for Chicago parents as we try to extend awareness of a new way for parents to enroll their children in early childhood education programs.</p> 

 	<p>You can find the link to the Early Learning Finder here: http://www.mrelief.com/early_learning_programs</p> 
 	<p>You can find the SMS screener by texting “Hello” to 773-377-8946. </p>
 	<p>You can find the press release on the Early Learning Finder here: http://www.mrelief.com/press_release
 	</p>
 	<p>Thanks so much for all you do for children!</p>
 	<p>Rose Afriyie </p>
 	<p>Co-Founder of mRelief </p>
 	<p>rose@mrelief.com </p>
 	<p>Cell: 312.857.6394</p> 
 	
  </body>
</html>