 <div class="resources">
  <div class="row">
    <div class="col-md-7">
      <h3>Required Documents for Food Stamps</h3>
      <p>The following is required for each member of the food stamp household: </p>
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item"><b>Income verification </b>in the form of check stubs or letterhead from the employer stating how much you earn for gross and net income </li>
          <li class="list-group-item"><b>Social security card(s) </b></li>
          <li class="list-group-item"><b>Photo ID </b>which could be anything with your name and a photo; Example: Illinois state ID </li>
          <li class="list-group-item"><b>Birth certificate(s) </b>for yourself and each child OR guardianship papers in the event of adoption or other children in your custody </li>
          <li class="list-group-item"><b>Bank statements</b> for all open accounts </li>
        </ul>
    </div>
  </div>

  <div class="row">
   <div class="col-md-7">
    <h3>Optional Documents</h3>
      <ul class="list-group" style="text-align:left;">
        <li class="list-group-item"><b>Rent receipts </b></li>
        <li class="list-group-item"><b>Utility Bills</b></li>
      </ul>
    </div>
  </div>

  <div class="row">
   <div class="col-md-7">
      <h3>Did You Know?</h3>
       <p>If you qualify for expedited food stamps, they can approve you for one month with the above required documents. However, every month following will be contingent on receiving additional forms. <br><br>
        In many cases, caseworkers will also take outstanding documents via email. Let us know if we can help facilitate that <%= link_to "here", contact_index_url %>.</p>
    </div>
  </div>
</div>
