<div class="container marquee">
<%= render "layouts/print_button" %>
  <% if @eligible %>
    <div class="row">
       <div class="col-md-7">
            <h1>Results: You may be in luck!</h1>
            <p>Based on your household size and income, you likely qualify for Head Start.</p>

            <div class="resources">
              <h3>Apply for benefits</h3>
              <p>The Illinois Head Start Association can help you find a Head Start program near you.</p>
              <p>To visit their website, <%= link_to "click here", "http://abe.illinois.gov", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'head_start', 'abe', 1);" %></p>
              <p>or call at 217-241-3511.</p>
            </div>

        </div>
      </div>

  <% else %>
    <div class="row">
      <div class="col-md-7">
         <h1>Results: Something else in mind!</h1>
         <p>Based on your household size and income, you likely do not qualify for Head Start. </p>

         <div class="resources">
           <h3>Resources</h3>
           <p>Many programs for young children have a combination of funding sources.  </p>
           <p>To find early learning programs near you, <%= link_to "click here ", "http://chicagoearlylearning.org", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'head_start', 'chicagoearlylearning', 1);" %></p>
           <p> or call the hotline at (312) 229-1690.</p>
         </div>

       <%= render "layouts/purple_binder_resources" %>

     </div>
    </div>

  <% end %>
</div>
