.container
  :javascript
    $(function ()
          { $("[data-toggle='popover']").popover();
          });
  .page-header.col-md-10.col-md-offset-1{:style => "border:none;"}
    %h1 Do I qualify for Head Start?
    .subhead
      %p Head Start provides educational and early childhood development activities that promote school readiness for three to five year old children from low-income families. It includes free medical, dental, and mental health services and nutritious meals, as well as parent education and training.
    %p
      You can find more information on Head Start by
      %a{:href => "http://chicagoearlylearning.org/faq"} clicking here.
  - if @head_start.errors.any?
    - @head_start.errors.full_messages.each do |message|
      .alert.alert-dismissable.alert-danger
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = message
  .row
    .panel.panel-default.col-md-8.col-md-offset-2
      .panel-body
        %form{:action => "/head_starts", :method => "post", :role => "form"}
          / Label and input for child-birthdate
          .form-group.col-sm-12
            %p.allthatapply If you are either pregnant or have a child who is between 3 and 5 years old, you may be eligible for Head Start.
            %label#case_management{:for => "child_birthdate"} Is the applicant child 3-years-old by Sep. 1st and not 5-years-old before Sep. 1st?
            .row
              .col-sm-6
                #child-birthdate
                  = radio_button_tag 'child_birthdate', 'yes'
                  yes
                  \#{radio_button_tag 'child_birthdate', 'no'} no
          / Label and input for hs_dependent_no
          .form-group.col-md-12
            %label{:for => "hs_dependent_no"}
              How many
              dependents (including yourself) are in your household?
            %button{"data-content" => "Number of people living in your household, including yourself.", "data-placement" => "top", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; background-color: #FAFAFA", :type => "button"}
              %i.fa.fa-info-circle
            .row
              .col-md-4
                %input#hs_dependent_no.form-control{:name => "hs_dependent_no", :placeholder => "For example: 3", :required => "", :type => "text", :value => @head_start.hs_dependent_no}/
          / Label and input for hs_gross_income
          .form-group.col-sm-9
            %label{:for => "hs_gross_income"}
              What is your gross annual income?
            %button{"data-content" => "Your income per year before tax deductions.", "data-placement" => "top", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; background-color: #FAFAFA", :type => "button"}
              %i.fa.fa-info-circle
            .input-group
              %span.input-group-addon $
              <input
              %input#hs_gross_income.form-control{:name => "hs_gross_income", :placeholder => "For example: 30000", :required => "", :type => "text", :value => @head_start.hs_gross_income}/
              %span.input-group-addon .00
          .form-group.col-sm-9.pull-left
            %label{:for => "zipcode"} What is your zipcode?
            %input#zipcode.form-control{:name => "zipcode", :placeholder => "For example: 60615", :required => "", :type => "text"}/
          .row
            .col-md-6
              = render "programs/calculator"
          %div
            %button.btn.btn-primary.program-btn{:type => "submit"} See if I qualify
