<div class="container marquee">
<%= render "layouts/print_button" %>
<% if @eligible == "yes" %>

   <div class="row">
     <div class="col-md-7">
       <h1>Results: You may be in luck!</h1>
       <p>Based on your household size and income, you likely qualify for RTA Ride Free.</p>

       <div class="resources">
         <h3>Apply for benefits</h3>
         <p><%= link_to "Click Here to apply online", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'rta_free_ride', 'il_dept_aging', 1);" %></p>
         <p>Navigate to the Benefit Access tab and click on 'Benefit Access Application.'</p>
       </div>

      </div>
    </div>

  <% else @eligible == "no" %>

      <div class="row">
        <div class="col-md-7">
          <h1>Results: Something else in mind!</h1>
          <p>Based on your household size and income, you likely do not qualify for RTA Ride Free.</p>

          <div class="resources">
            <h3>Resources</h3>
            <p>Call 312-913-3110 for information about the Reduced Fare Program.</p>
          </div>

          <%= render "layouts/purple_binder_resources" %>

        </div>
      </div>
<% end %>

<%= render "layouts/conversion_tracking" %>
