<div class="container marquee">
<%= render "layouts/print_button" %>
<% if @eligible %>
  <div class="row" >
     <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p>Based on your household size, income, and nutrition risk, you qualify for WIC.</p>

        <div class="resources">
          <h3>Apply for benefits</h3>
          <p>The Special Supplemental Nutrition Program for Women, Infants and Children (WIC) is a USDA food and nutrition program administered by the Illinois Department of Human Services (IDHS) and operated by Catholic Charities. The main line is Phone: (312) 951-9659/(773)729-3908. The nearest WIC Food and Nutrition Center Sites near you is listed below and the hours of operation are Monday - Friday, 8 a.m. - 8 p.m. Saturday and Sunday, 9 a.m. - 5 p.m.</p>

          <%= render "wics/wic_location" %>
 
         
        </div>

      </div>
    </div>

<% else %>
  <div class="row" >
    <div class="col-md-7">
        <h1>Results: Something else in mind!</h1>
        <p>Based on your household size and income, you likely do not qualify for WIC.</p>

        <%= render "layouts/purple_binder_resources" %>

    </div>
  </div>
<% end %>
</div>
