<div class="container marquee">
<%= render "layouts/print_button" %>
<% if @eligible %>
  <div class="row" >
     <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p>Based on your household size, income, and nutrition risk, you qualify for WIC.</p>

        <div class="resources">
          <h3>Apply for benefits</h3>
          <p>To find a resource center near you or for more information, <%= link_to "click here", "http://www.cedaorg.net/www2/index.htm", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'wic', 'ceda', 1);" %></p>
          <p> or call (855)WIC-CEDA (855-942-2332).</p>
        </div>

      </div>
    </div>

<% else %>
  <div class="row" >
    <div class="col-md-7">
        <h1>Results: Something else in mind!</h1>
        <p>Based on your household size and income, you likely do not qualify for WIC.</p>

        <div class="resources">
          <h3>Resources</h3>
          <p>Firman Community Services has programs focusing on the health of families and children. </p>
          <p>To visit their website, <%= link_to "click here", "http://www.direct2food.org/", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'wic', 'direct2food', 1);" %></p>
          <p>or call their office to identify the best resource at: 773- 373-3400.</p>
        </div>

        <%= render "layouts/purple_binder_resources" %>

    </div>
  </div>
<% end %>
</div>
