= form_for(@aabd_cash) do |f|
  - if @aabd_cash.errors.any?
    #error_explanation
      %h2
        = pluralize(@aabd_cash.errors.count, "error")
        prohibited this aabd_cash from being saved:
      %ul
        - @aabd_cash.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
