<div class= "container">
  <section class="content-section">
    <div class="row">
      <div class="col-md-12">
        <h1>Medicare Cost Sharing</h1>
        <p>If you are receiving Medicare through the Social Security Administration, you may qualify for a Medicare cost sharing program that will pay your Medicare Part B premium and -- depending on your income -- your Medicare deductibles and co-pays. </p>
      </div>
    </div>
  </section>

  <section class="content-section">
    <form action="/medicare_cost_sharings" role="form" method="post">

  <!-- Label and input for household_size -->
    <div class="row">
     <div class="col-md-5">
      <label for="household_size">What is your household size? </label>
         <input type="text" id="household_size" name="household_size" placeholder="For example: 3" class="form-field"   required>
      </div>
    </div>

   <!-- Form for Medicare household -->
    <div class="row">
      <div class="col-md-5">
       <label for="medicare_household_size">How many people in your household receive Medicare?</label>
         <input type="text" id="medicare_household_size" name="medicare_household_size" placeholder="For example: 2" class="   form-field"  required>
       </div>
     </div>

    <!-- Form for monthly income -->
      <div class="row">
        <div class="col-md-5">
          <label for="assets">What is you gross monthly income?</label>
            <input type="text" id="monthly_income" name="monthly_income" placeholder="For example: 1000" class="form-field"     required>
        </div>
      </div>

    <!-- Label and input for premium_only -->
      <div class="row">
        <div class="col-md-5">
          <label for="assets">Please estimate the value of your assets. (Exclude the value of your home and car.)</label>
            <input type="text" id="assets" name="assets" placeholder="For example: 5000" class="form-field" required>
        </div>
      </div>

    <!-- Form for disability question -->
      <%= render "programs/zipcode_question" %>

    <!-- Form for location question -->
      <%= render "programs/location_question" %>

    <!-- Form for cellphone question -->
      <%= render "programs/cellphone_question" %>

    <!-- Submit button -->
      <%= render "programs/submit_button" %>

  </form>
</section>

  <!-- <div class="col-md-3 sm-3 xs-12 pull-left">
     <div class="calculator_box">
       <%#= render "programs/calculator" %>
     </div>
   </div> -->


</div>


<script>
  $(document).ready(function() {

    //this is the map scroll down thing
    $(window).scroll(function() {
      if($(this).scrollTop() > 310 && $(this).width() > 750) {
        $('.calculator_box').addClass('sticky_calculator');
      } else {
        $('.calculator_box').removeClass('sticky_calculator');
      }
    });

    $(window).scroll(function() {
      if($(this).scrollTop() < 310) {
        $('.calculator_box').removeClass('sticky_calculator');
      }
    });

    $(window).scroll(function() {
      if($(this).width() < 750) {
        $('.calculator').removeClass('sticky_calculator');
      }
    });

    $(function ()
      { $("[data-toggle='popover']").popover();
    });
     $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
  });
  </script>

