<div class="row">
  <div class="col-md-9">
    <label for="age">How old are you?</label>
    <input type="text" id="age" name="age" placeholder="For example: 27" class="form-field" value="<%= @current_user.try(:age) %>"  required>
  </div>
</div>
