%br/
.row
  %p
    %b Ditch the pen! Here is a calculator to add up your income, just in case you need it.
%br/
/ calculator
.pull-left
  #js-calculator.calculator
    / Screen and clear key
    .cf.top
      %span.btn-calc.clear C
      .screen
    / operators and other keys
    .cf.keys
      %span.btn-calc 7
      %span.btn-calc 8
      %span.btn-calc 9
      %span.btn-calc.operator +
      %span.btn-calc 4
      %span.btn-calc 5
      %span.btn-calc 6
      %span.btn-calc.operator -
      %span.btn-calc 1
      %span.btn-calc 2
      %span.btn-calc 3
      %span.btn-calc.operator รท
      %span.btn-calc 0
      %span.btn-calc .
      %span.btn-calc.eval =
      %span.btn-calc.operator x
/ close button
