
<br>

<!-- calculator -->
<div class="pull-left">
    <div id="js-calculator" class="calculator">

      <!-- Screen and clear key -->
      <div class="cf top">
        <span class="btn-calc clear">C</span>
        <div class="screen"></div>
      </div>

      <!-- operators and other keys -->
      <div class="cf keys">
        <span class="btn-calc">7</span>
        <span class="btn-calc">8</span>
        <span class="btn-calc">9</span>
        <span class="btn-calc operator">+</span>
        <span class="btn-calc">4</span>
        <span class="btn-calc">5</span>
        <span class="btn-calc">6</span>
        <span class="btn-calc operator">-</span>
        <span class="btn-calc">1</span>
        <span class="btn-calc">2</span>
        <span class="btn-calc">3</span>
        <span class="btn-calc operator">รท</span>
        <span class="btn-calc">0</span>
        <span class="btn-calc">.</span>
        <span class="btn-calc eval">=</span>
        <span class="btn-calc operator">x</span>
      </div>

  </div>
</div>
      <!-- close button -->
