<div class="row">
   <div class="col-md-9 col-sm-12 col-xs-12">
     <label for="phone_number">What is your cell phone number?</label>
        <p type="button" data-toggle="popover" data-content="We will use this number to send you reminders throughout the application process." data-placement="right" style="border: 0px; color: #4582ec; " >
          <input type="text" id="phone_number" name="phone_number" placeholder="For example: 3125555555" class="form-field" value="<%= @d.phone_number %>" required>
        </p>
   </div>
 </div>
