<div class="row">
   <div class="col-md-5">
     <label for="phone_number">What is your cell phone number?</label>
     <input type="text" id="phone_number" name="phone_number" placeholder="For example: 3125555555" class="form-field" value="<%= @d.phone_number %>" required>
   </div>
 </div>
