<div class="row">
  <div class="col-md-9 ccol-sm-10 col-xs-12">
    <label for="citizen" id="citizen">Are you a citizen of the United States or a legal permanent resident who has lived in the US for at least 5 years?</label>
    <div class="radio-button">
      <% [ 'yes', 'no'].each do |citizen| %>
      <label for="citizen_<%= citizen %>" class="checkbox-question"><%= radio_button_tag 'citizen', citizen, @d.citizen == citizen, id: "citizen_#{citizen}" %>
        <%= citizen.humanize %> </label><br>
      <% end %>
    </div>
  </div>
</div>
