<div class="row">
  <div class="col-md-9">
    <label for="dependent_no">How many dependents (including yourself) are in your household?</label>
    <input type="text" id="dependent_no" name="dependent_no" placeholder="For example: 3" class="form-field"  value ="<%= @current_user.try(:household_size)  %>" required>
      </p>
  </div>
</div>
