   <div class="row">
     <div class="col-md-5">
       <label for="disabled" id="disabled">Are you receiving disability benefits?</label>
       <div class="radio-button">
       <% [ 'Yes, from Social Security', 'Yes, from the Railroad Retirement Board ', 'Yes, from Veterans Affairs', 'No' ].each do |disabled| %>
         <%= radio_button_tag 'disabled', disabled, @current_user.try(:disability_benefits) == disabled %>
         <%= disabled.humanize %><br>
       <% end %>
       </div>
     </div>
   </div>
