<div class="row">
  <div class="col-md-9">
    <label for="zipcode">What is your zipcode?</label>
      <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-field" value="<%= @d.zipcode.chop.chop if @d.zipcode.present? %>"required>
  </div>
</div>
