.bilingual_language_question
  .row
    .col-md-9.col-sm-10.col-xs-12
      %label{:for => "bilingual_language"}= t.elp.preferred_language | "Which language would you prefer?"
      = select_tag(:bilingual_language, options_for_select([  ["dialectos africanos", "African dialects"], ["árabe", "Arabic"], ["asirio", "Assyrian"], ["bosnio", "Bosnian"], ["chino", "Chinese"], ["filipino", "Filipino"], ["igbo", "Igbo"], ["italiano", "Italian"], ["coreano", "Korean"], ["mandarín", "Mandarin"], ["nepalí", "Nepali"], ["polaco", "Polish"], ["español", "Spanish"], ["tagalo", "Tagalog"], ["ucraniano", "Ukrainian"], ["yoruba", "Yoruba"], ["urdú", "Urdu"] ], @user.try(:bilingual_language)), :class => "form-field drop-down", :prompt => "Select a language")