.preferred_zipcode_questions
  .row
    .col-md-9.col-sm-10.col-xs-12
      %label{:for => "preferred_zipcode"}= t.elp.preferred_zipcode | "In which zipcode would you prefer early learning assistance?"
      %input#preferred_zipcode.form-field{:name => "preferred_zipcode", :placeholder => "For example: 60615", :required => "", :type => "text", :value => user.try(:preferred_zipcode)}