<div class="container marquee">
  <div class="row">
    <div class="col-md-12">
      <% if @user.ccap_eligible == true %>
        <h1>You Likely Qualify for CCAP</h1>
        <p>For more information, please call Illinois Action For Children Community Referral Team at 312-823-1100.</p>
      <% else %>
        <h1>You Likely Do Not Qualify for CCAP</h1>
            <div class="resources">
              <h3>Resources</h3>
            <p> Please call the Illinois Action Referral for Children Community Referrals Hotline number, 312-823-1100 or email them at referrals@actforchildren.org.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>