<div class="container marquee">
	<div class="row">
		<div class="col-md-12">
	
			<% if @user.ccap_eligible == true %>
			  <h1>You Likely Qualify for CCAP</h1>
			 
			<% else %>
			  <h1>You Likely Do Not Qualify for CCAP</h1>
			<% end %>

		</div>
	</div>
</div>

