<div class="container marquee">

<%= render "layouts/print_button" %>
  <% if @eligible %>
   <div class="row" >
      <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p>Based on your household size and income, you likely qualify for the Child Care Assistance Program.</p>

          <div class="resources">
            <h3>Next Steps</h3>
            <p>For more information, please call the Illinois Action For Children Community Referral Team at  312-299-1690 or <%= link_to "click here", "http://www.actforchildren.org/site/PageServer?pagename=Home", :target => "_blank" %> to visit their website.</p>
          </div>

        </div>
      </div>
  <% else %>
      <div class="row" >
        <div class="col-md-7">
          <h1>Results: Something else in mind!</h1>
          <p>Based on your household size and income, you likely do not qualify for the Child Care Assistance Program.</p>
          <div class="resources">
            <h3>Resources</h3>
            <p>Please call the Illinois Action Referral for Children Community Referrals Hotline number, 312-823-1100 or email them at referrals@actforchildren.org.</p>
          </div>
          <%= render "layouts/purple_binder_resources" %>
        </div>
      </div>
  <% end %>
  </div>

<%= render "layouts/conversion_tracking" %>
