<div class="container marquee">

<%= render "layouts/print_button" %>
  <% if @eligible %>

   <div class="row" >
      <div class="col-md-7">
          <h1>You may be in luck!</h1>
          <p>Based on your household size and income, you likely qualify for Child Care Vouchers.</p>

           <div class="resources">
             <h3>Apply for benefits</h3>
             <p>To find the nearest office in your county, <%= link_to "click here", "http://www.dhs.state.il.us/applications/ChildCareEligCalc/eligcalc.html", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'child_care_voucher', 'dhs', 1);" %>.</p>
           </div>

        </div>
      </div>
  <% else %>
        <div class="row" >
          <div class="col-md-7">
            <h1>Something else in mind!</h1>
            <p>Based on your household size and income, you likely do not qualify for Child Care Vouchers.</p>

            <div class="resources">
              <h3>Resources</h3>
              <p>Call Child Care Aware's toll free hotline: 1-800-424-2246 to learn about additional resources in your community.</p>
            </div>

            <%= render "layouts/purple_binder_resources" %>

        </div>
      </div>
  <% end %>
  </div>
