<div class="container marquee">

<%= render "layouts/print_button" %>
  <% if @eligible %>
   <div class="row" >
      <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p>Based on your household size and income, you likely qualify for the Child Care Assistance Program.</p>

          <div class="resources">
            <h3>Next Steps</h3>
            <p> You can calculate your estimated co-pay <%= link_to "here", "http://www.dhs.state.il.us/applications/ChildCareEligCalc/eligcalc.html", target: "_blank" %>. For more information, please call Illinois Action For Children Community Referral Team at  312-299-1690.</p>
          </div>

        </div>
      </div>
  <% else %>
      <div class="row" >
        <div class="col-md-7">
          <h1>Results: Something else in mind!</h1>
          <p>Based on your household size and income, you likely do not qualify for the Child Care Assistance Program.</p>
          <div class="resources">
            <h3>Resources</h3>
            <p>Call Child Care Aware's toll free hotline: 1-800-424-2246 to learn about additional resources in your community.</p>
          </div>
          <%= render "layouts/purple_binder_resources" %>
        </div>
      </div>
  <% end %>
  </div>
