<div class="container marquee">
<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>Required Documents for Rental Assistance</h1>
      <div class="col-md-6">
        <%= render "rental_assistances/documents" %>
      </div>
    </div>
  </div>
</section>
</div>
