<div class="benefits_checkboxes">

  <p class="allthatapply">Check all of the benefits that you are currenty receiving:</p>

  <input type="checkbox" name="food_stamps" value="food_stamps">  Food Stamps<br>
  <input type="checkbox" name="rta_ride_free" value="rta_ride_free"> RTA Ride Free<br>
  <input type="checkbox" name="medicaid" value="medicaid"> Medicaid <br>
  <input type="checkbox" name="medicare_cost_sharing" value="medicare_cost_sharing"> Medicare Cost Sharing <br>
  <input type="checkbox" name="all_kids" value="all_kids"> All Kids <br>

  <input type="checkbox" name="child_care_vouchers" value="child_care_vouchers"> Child Care Vouchers<br>
  <input type="checkbox" name="wic" value="wic"> Women, Infants and Children (WIC)<br>
  <input type="checkbox" name="early_head_start" value="early_head_start"> Early Head Start<br>
  <input type="checkbox" name="head_start" value="head_start"> Head Start<br>

</div>
