<div class="divider">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="new-footer">
        <li><a href="/programs">Programs</a></li>
        <li><a href="how_mrelief_works">How mRelief Works</a></li>
        <li><a href="/about_us">The Team</a></li>
        <li><a href="/press_release">Press Releases</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://www.goodcitychicago.org/donate/" data-toggle="tooltip" data-placement="top" title="Please select &ldquo;mRelief&rdquo; on the program section">Donate</a></li>
        <!-- <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy Policy</a></li> -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 copyright">
      <p>&copy; 2015 mRelief, 1871 222 W Merchandise Mart Plaza Chicago, IL 60647</p>
    </div>
  </div>
</div>
</div>
