<div class="divider">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="new-footer">
        <li><a href="/programs">Programs</a></li>
        <li><a href="how_mrelief_works">How mRelief Works</a></li>
        <li><a href="/about_us">The Team</a></li>
        <li><a href="/press_release">Press Releases</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://www.goodcitychicago.org/donate/" data-toggle="tooltip" data-placement="top" title="Please select &ldquo;mRelief&rdquo; on the program section">Donate</a></li>
        <!-- <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy Policy</a></li> -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 copyright">
      <p>&copy; 2015 mRelief, 1871 222 W Merchandise Mart Plaza Chicago, IL 60647</p>
      <p> *mRelief does not predict with 100% accuracy whether users will definitely be approved for public benefits; instead, it provides users with information about whether it is worth it to invest the time required for the application process. However, we are working to make our forms more inclusive everyday. If you are undocumented, a legal permanent resident, or have a very specific case, our system refers you to paralegals who can help. Stay tuned for more updates!</p>

    </div>
  </div>
</div>
</div>
