<div class="container marquee">
  <div class="row">
    <div class="col-md-12">
      <h1>The Team</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <%= image_tag("rose.jpg", :class => "team") %>
      <h4>Rose Afriyie</h4>
      <p>Co-Founder</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <%= image_tag("genenvieve.jpg", :class => "team") %>
      <h4>Genevieve Nielsen</h4>
      <p>Co-Founder</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <%= image_tag("marina.jpg", :class => "team") %>
      <h4>Marina Goldshteyn</h4>
      <p>Co-Founder</p>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-12">
      <h4>Participating team members:</h4>
      <p>Ellie Day | Janae Bonsu | Rene Paccha | Manuela Sifuentes | Elizabeth Frank</p>
      <p>Fiscally sponsored by <a href="http://www.goodcitychicago.org/">Goodcity</a></p>
    </div>
  </div>

 <div class="row">
  <div class="col-md-10">
  <h4>Our Mission</h4>
  <p>mRelief is dedicated to fixing the broken American welfare system that leaves the most vulnerable without access to available public assistance.</p>

<h4>Our Mission in Action</h4>
   <p>mRelief modernizes public benefits through web tools and an unprecedented use of text messaging in social services that empowers people with whether they qualify and tells all users their best next step.</p>

<h4>Our Impact</h4>
   <p>We are an all women software development team that has reduced eligibility determination time for public benefits in Chicago by 75 percent.</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <h4>Our Sponsors</h4>
    <%= image_tag("logos.jpg", :class => "") %>
  </div>
</div>

