<div class="container marquee">

<div class="row">
  <div class="col-md-12">
    <h1>Chi Hack Night</h1>
  </div>
</div>

<div class="row">
<div class="col-md-12">
<p class="lead">
<b>
  mRelief | www.mrelief.com<br>
MEDIA ALERT <br>
FOR IMMEDIATE RELEASE <br>
Contact: Rose Afriyie, 312.857.6394, rose@mrelief.com <br>
<br>
</b>
</p>

<p class="lead"><h3>mRelief, Mayor’s team, and Smart Chicago Demos Early Learning Finder at Chi Hack Night</h3></p>

<p><i>At Chi Hack Night, Chicago’s hallmark event on open data and civic technology, mRelief will discuss the the Finder from ideation to delivery and the process of integrating the city’s data portal into mRelief.com</i>

<br>
<br>
CHICAGO - On August 11, 2015   mRelief, the City of Chicago, and the Early Learning Portal collaborated to launch the Early Learning Finder, which <%= link_to "debuted this Saturday at the Bud Billiken Parade", "http://www.cityofchicago.org/city/en/depts/mayor/press_room/press_releases/2015/august/mayor-emanuel-announces-new-tool-to-assist-parents-in-finding-ea.html", target: "_blank" %>. The tool uses open data and efficient screening to help low-income parents navigate the 10 unique early learning program types and 731 early learning sites in the City of Chicago and is an ongoing pilot to improve access to early learning education in Chicago -- regardless of zipcode.
<br>
<br>
“We were determined to find the early learning site in the best location for the parents or guardians. After analyzing the data, we noticed a wide range of 0 to 40 centers per zipcode,” explains Genevieve Nielsen, CTO of mRelief, who filled out the screener more than 1000 times to test multiple different scenarios. “Since we did not want the number of results to be overwhelming, the website shows each user 3 relevant centers based on eligibility criteria, preferences and quality.” 
<br>
<br>
At Chi Hack Night, Nielsen will be leading a discussion on the process of integrating with the City data portal. Attendees will also learn about updates to the portal that enabled the successful launch of the Finder. The Chi Hack Night (formerly known as the Open Gov Hack Night) is a free, weekly event in Chicago to build, share and learn about tools to create, support, and serve the public good. It is comprised of thousands of designers, academic researchers, data journalists, activists, policy wonks, web developers and curious citizens working to make Chicago equitable, transparent and delightful to live in through data, design and technology.
<br>
<br>
The #chihacknight demo, held at Braintree in the Merchandise Mart at 6PM, will feature Cara Bader Analyst from the Mayor's Innovation Delivery Team along with mRelief Project Manager Rose Afriyie and  Genevieve Nielsen who led development of the Finder, and Project Coordinator of Smart Chicago Collaborative, Sonja Marziano, which leads the Early Learning Portal. 
<br>
<br>
“We’re thrilled to have mRelief present once again at the Chi Hack Night. As regular attendees, their work embodies the spirit of openness, collaboration and access for everyone our civic technology community strives for. Their success is our success. We couldn’t be prouder,“ said Derek Eder, Founder of DataMade and Chi Hack Night.
<br>
<br>


<br><br><p class='text-center'>######################</p><br><br>
mRelief is modernizing public benefits through web tools and an unprecedented use of text messaging in social services that empowers people with whether they qualify and tells all users their best next step through a partnership with Purple Binder. For more information, visit mRelief at www.mrelief.com
<br>
<br>
</p>
</div>
</div>

</div>
