<div class="container marquee">
<%= render "layouts/print_button" %>
  
  <div class="row">
    <div class="col-md-12">
      <i>Please note - this is only an example of a response page. The results below are NOT determined by your responses. </i>
    </div>
  </div>

  <div class="row" >
    <div class="col-md-7">
        <h1>You may be in luck!</h1>
        <p> Based on your household size and income, you likely qualify for Early Learning Programs. Below are Early Learning Programs that you are eligible for near you.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="content-section resources">
          <h3>Early Learning Centers</h3>
    </div>
        
      <div class="col-md-4">
        <div class="laf-list">
          <ul>
            <li class="laf-headline"> ABC Early Childhood Program</li>
            <li>3415 W. 13th Place, Chicago, IL 60623 </li>
            <li>(773) 762-5655</li>
            <a href="http://chicagoearlylearning.org/location/197/abc-early-childhood-program/" target="_blank">More Information &rarr;</a>
            <br>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="laf-list">
          <ul>
            <li class="laf-headline">Carole Robertson Center for Learning</li>
            <li>2929 W 19th St, Chicago, IL 60623 </li>
            <li>(773) 521-1600</li>
            <a href="http://chicagoearlylearning.org/location/481/carole-robertson-center-for-learning/" target="_blank">More Information &rarr;</a>
            <br>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="laf-list">
          <ul>
            <li class="laf-headline">Lawndale</li>
            <li>3444 W Douglas Blvd, Chicago, IL 60623</li>
            <li>(773) 534-1635</li>
            <a href="http://chicagoearlylearning.org/location/741/lawndale/" target="_blank">More Information &rarr;</a>
            <br>
          </ul>
        </div>
      </div>
      
      
       </section>
 
 
  </div>
</div>