<div class="container marquee">
	<div class="row">
		<div class="col-md-12">
			<p class="lead"><h3>City of Chicago partners with mRelief to Help Parents Determine Eligibility for Early Childhood Programs </h3></p>

			<p><i>In partnership with Mayor Emanuel and the Chicago Early Learning Portal, 1871-based mRelief launches Early Learning Finder to help low-income parents navigate Chicago’s 700+ early learning sites.</i>

			<br>
			<br>
			CHICAGO - On August 10, 2015 mRelief will launch the Early Learning Finder that helps parents determine eligibility for early childhood programs. To help low-income parents navigate the 10 unique early learning program types and 731 early learning sites, a super screening tool on web and text messaging was built to help parents identify the sites nearest them and resources to help if ineligible. The initiative will be a pilot with the City of Chicago and a step toward making learning opportunities visible to all. 
			<br>
			<br>
			“It is our responsibility to ensure that every child has a quality education that allows them to succeed, regardless of where they live, and that begins at the very start with early learning programs,” said Mayor Emanuel. “As we improve equity and access to quality programs in every neighborhood, efforts like the Early Learning Finder assures all families that no matter which neighborhood they live in, that their child will be as prepared as any other student when they arrive at kindergarten.”
			<br>
			<br>
			The new screener incorporates early learning programs funded by Head Start, Early Head Start, Preschool for All, the Child Care Assistance Program and other investments. The screener caters to parents of children in the 0-5 cohort and will empower each parent with 3 results based on: various  eligibility criteria, such as Chicago residence, age of children, and economic factors. Results will be generated on preferences which include length of day, ZIP code, bilingual instruction, quality ratings, and length of week. 
			<br>
			<br>
			“Using screening, asking questions based on the most objective program requirements, is critical to helping both low-income families and city personnel save time and unlock needed benefits utilizing the path of least resistance,” said Rose Afriyie, co-founder of mRelief. 
			<br>
			<br>
			The web application displays the address, quality ratings, and contact information of early learning sites from the city’s Open Data Portal and connects parents with a page where they can view more in-depth information and contact each location on the Chicago Early Learning Portal.
			<br>
			<br>
			“We are always looking for more ways parents can find early learning programs and use our website to kick off the enrollment process, and this screener is a great way to do that”, said Daniel X. O’Neil, executive director of Smart Chicago Collaborative, which runs the Early Learning Portal for the City.
			<br>
			<br>
			The new screener was developed by the Chicago-based all-woman software development team, mRelief. Their niche is eligibility determination for social services done through adaptive questionnaires available online and on text messaging. After a user completes a form, the app generates personalized results for users on which safety net programs they qualify for and actionable steps -- whether they qualify or not. 
			<br>
			<br>
			“1871 works to support entrepreneurs who develop successful businesses that are focused not just on raising money, but also on making a difference,” said 1871 CEO Howard A. Tullman. “mRelief uses technology to create meaningful opportunities for low-income parents and their children, and we congratulate Rose and her team on the launch of their new service with the City of Chicago.”
			<br>
			<br>
			According to the most <%= link_to "recent Census data", "http://censusreporter.org/data/table/?table=B09001&geo_ids=16000US1714000&primary_geo_id=16000US1714000#valueType%7Cestimate", :target => "_blank" %>, children under 5 account for  212,039 Chicagoans and as Chicago celebrates the <%= link_to "lowest unemployment rate", "http://www.chicagotribune.com/business/ct-chicago-unemployment-0724-biz-20150723-story.html", :target => "_blank" %> since June 2007, working families will need options for care. “I live on the Southside, but all of my school and work is up north. To be able to compare and contrast our options in different regions of the city is absolutely useful,” said Chaz Morales-Williams, who used the Early Learning Finder to compare and contrast 4 zipcodes and 12 results pertinent to the location of her and the father of her child’s home and occupation. 
			<br>
			<br>
			The importance of early learning education is significant. During the stage of early childhood, learning acquisition, cognitive development, and reasoning form rapidly when children are placed in environments that activate their foundational knowledge. This has positive implications in their learning throughout their K-8 academic career, adequately preparing them to graduate from a college/university and enter the workforce. According to the White House’s 2014 report on early childhood education, early childhood education can increase earnings in adulthood by <%= link_to "1.3 to 3.5 percent", "https://www.whitehouse.gov/sites/default/files/docs/early_childhood_report1.pdf", :target => "_blank" %>. 
			<br>
			<br>
			“We know that no one cares more about children than their parents,” said Maria Whelan, President &amp; CEO of Illinois Action for Children.  “This new screening tool developed by mRelief will be an additional resource for low-income parents in making decisions for the early care and education of their children.”
			</p>
			
		</div>
	</div>
</div>