<section class="container content-section">
  <div class="row marquee">
    <div class="col-md-8">
      <h1>Find out if you qualify for public assistance in Chicago & Illinois</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>Eligibility requirements can be difficult to find, we've created a process that makes it easy</p>
    </div>
  </div>

  <div class="row program-options">
    <div class="col-md-5">
      <h3>Choose Your Program</h3>
      <p>See what we offer. mRelief has screeners for programs helping with food, transportation, healthcare, housing and children.</p>
      <%= link_to("View all programs →", "/programs") %>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="">
          <h3>All Programs At Once</h3>
          <p>Filter through what we offer. Screen for multiple programs and find out about alternative resources if you are ineligible for public assistance.</p>
          <%= link_to("Screen all programs →", "/filter") %>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $.ajax({
    url: "/session_clear",
  });
</script>
