<div class="container">
  <div class="row">
    <%= image_tag("homepage_marquee.png", :class => "img-responsive col-md-8 col-md-offset-2 homepage-marquee") %>
  </div>
  <div class="row">
    <h1>Check your eligibility for benefits in Chicago & Illinois</h1>
    <p class="subhead">Eligibility requirements can be difficult to find, we've created a process that makes it easy</p>
    <button type="button" class="btn btn-success btn-lg homepage-btn">Find out if you qualify</button >
  </div>
</div>

