<div class="alert-info alert-dismissible" role="alert">
  <div class="container">
    <p>Check your eligibility via SMS: Text "hello" to 1-773-377-8946.</p>
  </div>
</div>
<section class="container content-section">
  <div class="row home-page-marquee">
    <div class="col-md-8">
      <h1>Find out if you qualify for public assistance in Chicago & Illinois</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>Eligibility requirements can be difficult to find, we've created a process that makes it easy</p>
    </div>
  </div>

  <div class="row program-options">
    <div class="col-md-5">
      <h3>Choose Your Program</h3>
      <p>mRelief has screeners for programs helping with food, transportation, healthcare, housing and children.</p>
      <%= link_to("Start Here →", "/programs") %>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="">
          <h3>All Programs At Once</h3>
          <p>Screen for multiple programs and find out about alternative resources if you are ineligible for public assistance.</p>
          <%= link_to("Start Here →", "/filter") %>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $.ajax({
    url: "/session_clear",
  });
</script>
