<section class="container content-section">
  <div class="row">
    <div class="col-md-6">
      <h1>Find out if you qualify for public assistance</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>Eligibility requirements can be difficult to find, we've created a process that makes it easy</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="">
        <h3>Choose Your Program</h3>
        <p>mRelief has screeners for programs helping with food, transportation, healthcare, housing and children.</p>
        <%= link_to("Start Here", "/programs", :class => "btn", :role => "button") %>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="">
          <h3>All Programs At Once</h3>
          <p>Screen for multiple programs and find out about alternative resources if you are ineligible for public assistance.</p>
          <%= link_to("Start Here", "/filter", :class => "btn ", :role => "button") %>
      </div>
    </div>
  </div>
</section>
