
<div class="container">
  <div>
    <h1 class="page-header">In a few steps, you can check your eligibility</h1>
  </div>

  <div class="row">
    <p class="col-md-10 blocktext">Currently we provide social service programs for the city of Chicago and state of Illinois. Using mRelief, simplifies the qualifying process with an easy-to-use form that can be accessed online and through SMS. At the current moment, you can check your eligibility for relief through our text messaging application. The relief programs include food (food stamps), transportation (RTA Ride Free), and healthcare (Medicaid and Medicare Cost Sharing).</p>
  </div>
<div class="row">
   <div class="col-md-6 how-to">
   <h2>mRelief online:</h2>
    <h3>1. Choose Your Program</h3>
    <p>From the horizontal menu, on the right-hand side, select “Programs”. From the dropdown menu, select “See All Programs”.  After landing on the Programs Page, choose the program that applies to your needs.</p>
    <div class="bluedivider"></div>
    <h3>2. Enter Your Information</h3>
    <p>On the individual program page you selected, there will be a qualifier statement in the description followed by a few questions for you to fill out. In the form fields, provide your information. </p>
    <div class="bluedivider"></div>
    <h3>3. See if you Qualify</h3>
    <p>After you have completed the form for your program, click the blue “See If I Qualify” button on the lower left-hand side. </p>
  </div>
   <div class="col-md-6 how-to">
   <h2>mRelief sms:</h2>
    <h3>1. Sending SMS</h3>
    <p>Text "hello," or your preferred greeting to 1(773) 377-8946</p>
    <div class="bluedivider"></div>
    <h3>2. Choose Your Program</h3>
    <p>Text the word "food" for food stamps. Text the word "ride" for RTA Ride Free. Text the word "medicaid" for Medicaid. Text the word "medicare" for Medicare Cost Sharing. You must enter one program at a time.</p>
    <div class="bluedivider"></div>
    <h3>3. Completing the form</h3>
    <p>Text your information to the posed questions.  If you enter the wrong response, text the word 'reset.'</p>
    <div class="bluedivider"></div>
    <h3>4. See if you qualify</h3>
  </div>
</div>
<br>
<div class="row">
   <div class="col-md-8 col-md-offset-2" style="text-align:center;">
    <h4>After you have completed this process, you will be directed to community or government resources based on your qualifying outcome.
    <br>
    <br>
    If you have any questions please contact us. </h4>
  </div>
</div>
<br>
<br>
<br>
