<div class="container marquee">
  <div class="row">
    <div class="col-md-6">
      <h2>How mRelief Works</h2>
      <p>mRelief simplifies the qualifying process with an easy-to-use form of 7.5 questions through our website application at mrelief.com and our SMS application at 773-377-8946. After the user fills out the necessary information, they are directed to community or government resources based on their eligibility indicators and zipcode. mRelief provides users with information about whether the user should invest the time in the application process. Users who are undocumented or have a specific case are referred to paralegals who can help. We work daily to make our forms more inclusive.
      </p>
    </div>
    <div class="col-md-4">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/OqQSGqadYC8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="instructions">
        <h4>Online</h4>
        <h3>Step 1: Select a program</h3>
        <p>From the home page, select “Choose Your Program” to screen a program of your choice OR select “All Programs At Once” to screen everything we have on the site step-by-step.</p>
        <h3>Step 2: Complete the form</h3>
        <p>On the individual program page you selected, we share a description followed by a few questions for you to fill out. Complete the form to get to your next step.</p>
        <h3>Step 3: See if you qualify</h3>
        <p>After you have completed the form for your program, click the blue “See If I Qualify” button at the bottom. Then, find your next step in the application process or community resources to pursue alternatives.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="instructions">
        <h4>SMS/Text Message</h4>
        <h3>Step 1: Text "hello"</h3>
        <p>Text "hello," or your preferred greeting to 1(773) 377-8946</p>
        <h3>Step 2: Select a program</h3>
        <p>Text the word "food" for food stamps. Text the word "ride" for RTA Ride Free. Text the word "medicaid" for Medicaid. Text the word "medicare" for Medicare Cost Sharing. You must enter one program at a time.</p>
        <h3>Step 3: Complete the form</h3>
        <p>Text your information to the posed questions.  If you enter the wrong response, text the word 'reset.'</p>
        <h3>Step 4: See if you qualify</h3>
      </div>
    </div>
  </div>
</div>
