
<div class="container">
  <div>
    <h1 class="page-header">See if you qualify in 3 simple steps</h1>
  </div>

  <div class="row">
    <p class="subhead col-md-8 col-md-offset-2">Currently we provide social service programs for the city of Chicago and state of Illinois. Using mRelief, simplifies the qualifying process with an easy-to-use form that can be accessed online and through SMS. </p>
  </div>



<div class="row">
   <div class="col-md-6 col-md-offset-3">
    <h3>1. Choose Your Program</h3>
    <p>From the horizontal menu, on the right-hand side, select “Programs”. From the dropdown menu, select “See All Programs”.  After landing on the Programs Page, choose the program that applies to your needs.</p>
    <div class="bluedivider"></div>
  </div>
</div>




<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <h3>2. Enter Your Information</h3>
      <p>On the individual program page you selected, there will be a qualifier statement in the description followed by a few questions for you to fill out. In the form fields, provide your information. </p>
       <div class="bluedivider"></div>
    </div>
  </div>

<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <h3>3. See if you Qualify</h3>
      <p>After you have completed the form for your program, click the blue “See If I Qualify” button on the lower left-hand side. </p>
  </div>
</div>

<br>


<div class="row">
   <div class="col-md-8 col-md-offset-2" style="text-align:center;">
    <h4>After you have completed this process, you will be directed to community or government resources based on your qualifying outcome.
    <br>
    <br>
    If you have any questions please contact us. </h4>
  </div>
</div>

<br>
<br>
<br>


