
<div class="container">
  <div>
    <h1 class="page-header">How mRelief Works</h1>
  </div>

  <div class="row">
    <p class="col-md-10 blocktext">mRelief simplifies the qualifying process with an easy-to-use form of 7.5 questions through our website application at mrelief.com and our SMS application at 773-377-8946. After the user fills out the necessary information, they are directed to community or government resources based on their eligibility indicators and zipcode. mRelief provides users with information about whether the user should invest the time in the application process. Users who are undocumented or have a specific case are referred to paralegals who can help. We work daily to make our forms more inclusive.
    </p>
  </div>
<br>
<div class="row">
   <div class="col-md-6 how-to">
   <h2>mRelief online:</h2>
    <h3>1. Choose Your Program</h3>
      <p>From the home page, select “View Each Program” to screen a program of your choice OR select “All at once,” to screen everything we have on the site step-by-step.</p>
    <div class="bluedivider"></div>
    <h3>2. Complete the Form</h3>
      <p>On the individual program page you selected, we share a description followed by a few questions for you to fill out. Complete the form to get to your next step.</p>
    <div class="bluedivider"></div>
    <h3>3. See If You Qualify</h3>
      <p>After you have completed the form for your program, click the blue “See If I Qualify” button at the bottom. Then, find your next step in the application process or community resources to pursue alternatives.</p>
  </div>
   <div class="col-md-6 how-to">
   <h2>mRelief sms:</h2>
    <h3>1. Sending SMS</h3>
    <p>Text "hello," or your preferred greeting to 1(773) 377-8946</p>
    <div class="bluedivider"></div>
    <h3>2. Choose Your Program</h3>
    <p>Text the word "food" for food stamps. Text the word "ride" for RTA Ride Free. Text the word "medicaid" for Medicaid. Text the word "medicare" for Medicare Cost Sharing. You must enter one program at a time.</p>
    <div class="bluedivider"></div>
    <h3>3. Completing the form</h3>
    <p>Text your information to the posed questions.  If you enter the wrong response, text the word 'reset.'</p>
    <div class="bluedivider"></div>
    <h3>4. See if you qualify</h3>
  </div>
</div>


<br>
