<div class="container marquee">
	<div class="row">
	<p class="lead"><h3>Spanish Speakers Can Now Easily Pre-screen Food Stamp Eligibility | Dec. 18, 2014</h3>
	<br>
	<br>
	CHICAGO–On the heels of President Obama’s executive order on immigration, mRelief, an app that helps Chicagoans determine their eligibility for government benefits -- and local community resources through <%= link_to "Purple Binder", "http://purplebinder.com/" %> -- has launched mRelief español. The web application’s latest version provides a custom Spanish translation of the site and the food stamps eligibility screener.<br>
	<br>
	Census Data shows that out of the people who “speak English less than very well” in Chicago, 62 percent are Hispanics according to analysis in the Pew Research Hispanic Trends Project. The Chicago metropolitan area is home to the 5th largest Latino population in the US at 1.9 million. Further, Hispanics -- both foreign born and native -- have the lowest Median Annual Personal Earnings in the city at $29,600. “As income is a primary indicator of food stamps eligibility, empowering Hispanics about their eligibility for benefits is critical,” said Rose Afriyie project manager of mRelief.
	<br>
	<br>
	Through mRelief’s partnership with LAF (Legal Assistance Foundation), the team behind mRelief first started integrating Spanish by providing users who qualified for  food stamps, rental assistance, and other programs with information about when Spanish was spoken at  <%= link_to "community service centers", "http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/community_servicecenterlocations.html" %>. Now, the vibrant open source community has helped them expand their reach. <br>
	<br>
	mRelief is a success story of the Open Government Hack Night at 1871.  mRelief reaped the benefits of being an open source application when the all-woman team connected one Tuesday night with Spanish translator Rene M. Paccha. As the application progressed, Paccha, who is also a ruby developer followed the updates on Github. Making use of the open source translation tool R81N, created by developer Andrey Sitnik, Paccha completed translation for tabs on the main website, the food stamps screener, and all food stamps response pages. Manuela Sifuentes, startup founder of Malinalli Language Consultants, also contributed to the Spanish translation.
	<br>
	<br>
	“I have found that machine translations tend to make things more confusing,” said Paccha about his decision to pitch in and manually translate key pages on the web application. Paccha who is a native Spanish speaker of Chilean and Ecuadorian descent and formally taught continued, “I wanted to correct for that mistake by using my trade as a translator to do something for my community.”<br>
	<br>
	The web application is currently awaiting decisions from grantmakers that would help finance the translation of the remaining 11 web programs and the 4 programs on SMS. Supporters can donate to mRelief at <%= link_to "bit.ly/mrelief-form", "https://fundly.com/mrelief-using-technology-to-improve-social-services" %>.

	</p>
	</div>
</div>