.container
  .row
    %p.lead
      %br/
      %br/
      %b
        mRelief | www.mrelief.com | bit.ly/mrelief-form
        %br/
        MEDIA ALERT
        %br/
        FOR IMMEDIATE RELEASE
        %br/
        Contact: Rose Afriyie, 570.982.1562, sariyie@gmail.com
        %br/
        Low-Income Chicagoans Can Text Their Way to Food Stamps
        %br/
      %br/
      Nov. 24, 2014
      %br/
      %br/
      CHICAGO–As food-centric holidays approach in Chicago and worldwide, many low-income citizens are unsure of where their next meal will come from, let alone how to begin to ask for government assistance. According to the #{link_to "most recent data", "http://www.snaptohealth.org/snap/snap-frequently-asked-questions/"}
      , approximately 25 percent of people who are eligible for food stamps don't participate in the program.
      %br/
      %br/
      A Chicago-based startup aims to close that gap. This week, mRelief unveiled a feature of their web application that allows citizens to text the phone number (773) 377-8946 to check food stamp eligibility. Users can start the conversation by texting "Hello," or their preferred greeting. mRelief, fiscally sponsored by Good City, is also rolling out SMS capability for RTA Ride Free, Medicaid and Medicare Cost Sharing within the next month.
      %br/
      %br/
      “Through our new feature, mRelief makes access to food text messages away," Project Manager and Co-founder Rose Afriyie said. Through the app, users can guage whether it is worth it to complete the entire online application process and spend time and money travelling in cold temperatures to offices for the mandatory in-person interview.
      %br/
      %br/
      The project has been awarded $15,000 by the Smart Chicago Collaborative’s Civic Works Project, which is funded by the Knight Foundation. The platform which enables the text messaging is Twilio and is hosted by the Smart Chicago Collaborative. The founders are in a fundraising round to raise $50,000 by December 4th from Chicagoans and matching corporate donors using the platform Fundly here: #{link_to "bit.ly/mrelief-form", "https://fundly.com/mrelief-using-technology-to-improve-social-services"}
      %br/
      %br/
      According to a 2012 Partnership for a Connected Illinois report, 64 percent of Illinois residents don’t have a smartphone device. The approach was developed to make access to government benefits accessible to non-internet users.
      %br/
      %br/
      mRelief was developed by three local women developers this summer in response to Mayor Emanuel’s call for ideas to bring technology to social services in July. The startup officially launched last month at the Martin Luther King Community Service Center in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team.
      %br/
      %br/
      mRelief’s questionnaire accounts for the requirements of several government benefits, including Medicaid, Food Stamps and SNAP Benefits.“mRelief is excited to use technology to solve an actual problem for underrepresented people,” Afriyie said.
      %br/
      %br/
      Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step. If they don’t qualify, they’ll be directed to local community resources provided by Purple Binder’s database, an organization that matches people with community services with citizens’ health in mind.
      %br/
  .row
    %p.lead
      %br/
      %br/
      %b
        mRelief | www.mrelief.com | bit.ly/mrelief-form
        %br/
        MEDIA ALERT
        %br/
        FOR IMMEDIATE RELEASE
        %br/
        Contact: Rose Afriyie, 570.982.1562, sariyie@gmail.com
        %br/
        mRelief, local Chicago app demystifying eligibility for public assistance kicks off pilot at King Community Service Center
        %br/
      %br/
      Chicago 11/06/14 — This October, a Chicago-based startup, mRelief, launched at the City’s Martin Luther King Community Service Center on the South Side.
      %br/
      %br/
      Developed in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team, mRelief is a website application that pre-screens eligibility for benefits by assessing whether users meet the income, household size, age, and other basic requirements. mRelief emerged from the Open Government Hack Night that convenes weekly at 1871. Mayor Emanuel’s office presented at a July 2014 meeting, issuing an open call for ideas to bring technology into social services.
      %br/
      %br/
      “mRelief enables our staff to quickly connect more Chicagoans to benefits, putting more money in the pockets of residents in need.” said Commissioner Evelyn Diaz, of the Department of Family &amp; Support Services, which manages the King Community Service Center.
      %br/
      %br/
      Before mRelief was integrated into the workflow of caseworkers at the King Center, Chicagoans were not preliminarily screened for benefits eligibility when seeking social services. mRelief’s questionnaire accounts for the requirements of several government benefits, including Medicaid and SNAP Benefits, so that staff can assist residents in need in a matter of minutes.  Now applicants can rely on this quick pre-screen tool before taking valuable time to complete detailed application forms, gathering identifying documents, and waiting at the appropriate office for an interview.
      %br/
      %br/
      mRelief was programmed with Ruby on Rails by a team of all-women developers and is seed funded by the Smart Chicago Collaborative though their Civic Works Project. The Civic Works Project is a program funded by the Knight Foundation to help spur civic innovation in Chicago. Team mRelief is currently in a fundraising round for $200,000 and is using the platform Fundly to raise $50,000 by November 21st at bit.ly/mrelief-form. “mRelief is excited to use technology to solve an actual problem for underrepresented people. Our platform starts with alleviating long lines for first time applicants and empowering them with their next steps,” says Rose Afriyie, Project Manager of mRelief.
      %br/
      %br/
      The app determines eligibility through a brief questionnaire online and in an SMS form, backed by a database of eligibility requirements. The approach with SMS came about from a 2012 report by Partnership for a Connected Illinois which showed that 64 percent of Illinois residents are non-smartphone users meaning they use a feature phone with limited access to the internet. Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step, if not, they are directed to local community resources provided by Purple Binder’s database. Purple Binder is a Chicago-based company that matches people with community services that keep them healthy.
      %br/
      %br/
      “mRelief is a great example of a strong civic tech ecosystem in Chicago”, said Smart Chicago Collaborative Executive Director Daniel X. O’Neil. “We’re proud to use our Knight-funded Civic Works project to support the launch of mRelief.”
      %br/
