.container
  .row
    %p.lead
      %br/
      %br/
      %br/
      %br/
      %b
        mRelief | www.mrelief.com | bit.ly/mrelief-form
        %br/
        AVISO A LOS MEDIOS DE COMUNICACIÓN
        %br/
        PARA DIFUSIÓN INMEDIATA
        %br/
        Contacto: Rose Afriyie, 312.857.6394, rose@mrelief.com
        %br/

      %h3 La Ciudad de Chicago trabaja con mRelief para ayudar a los padres a determinar si califican para los programas de educación temprana
      %i En asociación con el Alcalde Emanuel y el Portal para la Educación Temprana de Chicago, mRelief lanza el Buscador de Educación Temprana, una nueva herramienta con el fin de ayudar a padres de familia de bajos recursos a navegar los más de 700 sitios de educación temprana de Chicago.
      %br/
      %br/
      CHICAGO – El 8 de agosto, 2015, mRelief inicia una herramienta que tendrá el fin de ayudar a padres de familia saber si pueden optar o no a diferentes programas para niños preescolares. Para ayudar a padres de familia de bajos recursos a que puedan aprender sobre los 10 tipos de programas especiales, como también a los 731 sitios de programas de educación temprana, mRelief ha creado una herramienta, disponible en Internet y mensajes de texto. Esta herramienta fue creada con el fin de ayudar a los padres de familia a identificar los sitios de educación temprana más cercanos, así como otros recursos disponiles si no califican para estos programas. La iniciativa será un programa piloto con la Ciudad de Chicago y representa un paso hacia hacer que las oportunidades de aprendizaje sean visibles para todos. 
      %br/
      %br/
      “Es nuestra responsabilidad asegurar que cada niño tenga una educación de calidad que le permita lograr el éxito, no importa dónde vive, y eso empieza al principio, con programas de educación temprana”, dijo el Alcalde Emanuel. “Al mejorar la igualdad y acceso a programas de alta calidad en cada vecindario, los esfuerzos como este Buscador de Educación Temprana, aseguran que los hijos de todas las familias, sin importar el vecindario donde viven, estarán tan preparados como cualquier otro al llegar a su primer año de escuela”.
      %br/
      %br/
      Esta nueva herramienta incorpora todos los programas financiados por Head Start, Early Head Start, Preschool for All, el Programa de Asistencia en Cuidado de Niños (CCAP) y otras inversiones. La herramienta está enfocada a la edad de 0 a 5 años, y ayuda a cada padre de familia dándole 3 resultados basados en varios criterios, tales como residencia en Chicago, la edad de los niños y factores económicos. Los resultados se generan sobre preferencias como el número de horas, el código postal, instrucción bilingüe, puntuación de calidad y duración de la semana. 
      %br/
      %br/
      “Usar controles, plantear preguntas basadas en los requisitos más objetivos del programa, son elementos críticos en ayudar a las familias de bajos recursos como también al personal de la Ciudad ahorrar tiempo y encontrar los beneficios necesarios mediante el camino de menos resistencia”, dijo Rose Afriyie, co-fundadora de mRelief.
      %br/
      %br/
      La solicitud de Internet muestra la dirección, puntuación de calidad, e información de contacto de los sitios de educación temprana del Portal de Datos Abiertos de la Ciudad, y conecta a los padres de familia con una página donde pueden ver mayor información y contactar cada local listado en el Portal de Educación Temprana de Chicago.
      %br/
      %br/
      “Siempre estamos buscando nuevas formas para que los padres de familia puedan acceder a los programas de educación temprana y usar nuestro sitio web para comenzar con el proceso de registración, y esta herramienta hace justamente eso y lo hace muy bien,” dijo Daniel X. O’Neil, director ejecutivo de Smart Chicago Collaborative, el cual maneja el Portal de Educación Temprana de la Ciudad.
      %br/
      %br/
      Esta herramientas fue elaborada por un equipo de desarrollo de software, todas mujeres y todas de Chicago, quienes conforman mRelief. Su nicho es la determinación de servicios sociales basada en cuestionarios adaptivos disponibles por Internet y mensajes de texto. Después de que el usuario termina de llenar un formulario, la aplicación genera resultados personalizados sobre los programas, a cuáles programas califica el solicitantes y cuáles son los pasos que deben tomar, ya sea si califican o no.
      %br/
      %br/
      “La organización 1871 trabaja en apoyi a emprendedores que desarrollan negocios exitosos con un enfoque no solo en generar ingresos, sino también en hacer una diferencia social,” dijo el CEO de 1871, Howard A. Tullman. “mRelief utiliza tecnología para crear oportunidades significativas para padres de familia de bajos recursos y sus hijos, y nosotros felicitamos a Rose y su equipo en este lanzamiento de su nuevo servicio con la Ciudad de Chicago.”
      %br/
      %br/
      Según los datos de Censo más recientes, los niños con menos de 5 años suman a 212,039 habitantes de Chicago, y en este momento que Chicago tiene la tasa de empleo más baja desde 2007, las familias que trabajan necesitan opciones para el cuidado de sus niños. “Yo vivo en el Sur (Southside), pero mi escuela y mi trabajo son todos en el norte. Poder comparar y contrastar las opciones en diferentes partes de la ciudad es muy útil”, dijo Chaz Morales-Williams, quien comparó y contrastó 4 códigos postales y 12 resultados ligados a las direcciones de su trabajo, de su casa, y de la casa del padre de su hijo.
      %br/
      %br/
      La importancia de la educación temprana es significativa. En la etapa de la niñez temprana, la adquisición del lenguaje, el desarrollo cognitivo y el razonamiento se forman rápidamente cuando los niños son colocados en contextos que activan el conocimiento fundamental. Esto tiene implicaciones positivas en su aprendizaje a lo largo de su vida académica desde kínder hasta octavo grado, lo que los prepara adecuadamente para graduarse de una universidad y pasar a la población económicamente activa. Según un informe de la Casa Blanca de 2014 sobre la educación temprana, ésta puede aumentar los ingresos un adulto de entre 1.3 a 3.5 por ciento.
      %br/
      %br/
      “Sabemos que no hay nadie que se preocupe más por los niños que sus propios padres”, dijo Maria Whelan, Presidente & CEO de Illinois Action for Children. “Esta herramienta nueva elaborada por mRelief va a ser un recurso adicional para los padres de familia de bajos recursos en la toma de decisiones sobre el cuidado y la educación temprana de sus hijos”. 
      %br/
      %br/
      %br/
      %br/
      mRelief está modernizando los beneficios públicos a través de herramientas en Internet y el uso de mensajes de texto en servicios sociales de una manera que empodera a las personas al poder saber si califican o no para beneficios y brinda información a todos los usuarios, a través de Purple Binder, sobre el más acertado próximo paso a tomar. Para mayor información visite mRelief, www.mrelief.com 
      %br/
      %br/
      %br/
      %br/
        
        
      %h3 Los hispanohablantes ahora podrán saber fácilmente si califican para estampillas de comida
      %br/
      18 de diciembre de 2014
      %br/
      %br/
      CHICAGO–Tras la reciente orden ejecutiva sobre inmigración del Presidente Obama, mRelief, la aplicación web que ayuda a los residentes de Chicago a determinar si califican para beneficios del gobierno – y recursos comunitarios locales a través de Purple Binder #{link_to "Purple Binder", "http://purplebinder.com/"}
      – ha lanzado una versión en español. La última versión de la aplicación web incluye una traducción al español del sitio web y de las preguntas para determinar si cumple con los requisitos para solicitar estampillas de comida.
      %br/
      %br/
      El análisis de los datos del último Censo, llevado a cabo por “Pew Research Hispanic Trends Project” muestra que de las personas en Chicago que “hablan inglés menos que ‘muy bien’”, 62% son hispanos. Con cerca de 1.9 millones, El área metropolitano en Chicago contiene la 5ta población más grande de Latinos en Estados Unidos. Además, la población Latina – tanto los nacidos aquí como los nacidos en el extranjero – tiene el nivel más bajo de Ingreso Anual Medio Personal, de solamente $29,600. “Ya que el ingreso es un indicador principal para calificar para recibir estampillas de comida, es imperativo empoderar a la comunidad Latina para que sepan si llenan los requisitos para estos beneficios,” dijo Rose Afriyie, administradora de proyectos de mRelief.
      %br/
      %br/
      Gracias a una colaboración entre mRelief y LAF (Fundación de Asistencia Legal, por sus siglas en inglés), la aplicación comenzó a integrar el español al proporcionar a los usuarios que calificaban para estampillas de comida, asistencia con el pago de la renta y otros programas con información sobre los horarios en que personal que habla español estaría en uno de los #{link_to "centros de servicios comunitarios", "http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/community_servicecenterlocations.html"}.
      Ahora, la comunidad de Chicago que promueve el uso de programas de informática de fuente abierta les ha ayudado a ampliar su alcance.
      %br/
      %br/
      mRelief es un proyecto exitoso que comenzó con Open Gov Hack Night de 1871, un evento semanal que reúne a personas que trabajan en proyectos que unen las áreas de gobierno, servicios municipales y tecnología. mRelief se benefició de ser una aplicación de fuente abierta cuando el equipo, el cual es formado solamente por mujeres, se conectó un martes por la noche con el traductor al español René M. Paccha. Conforme la aplicación fue progresando, Paccha, quien también es un programador rubí, se mantuvo al corriente a través de Github. Utilizando el programa de traducción de fuente abierta R18n, creado por el programador Andrey Sitnik, Paccha completó la traducción del sitio web principal, la página con que evalúa si se llenan los requisitos para estampillas de comida y todas las páginas de respuesta sobre estampillas de comida. Manuela Sifuentes, fundadora de Malinalli Language Consultants, también contribuyó a la traducción al español.
      %br/
      %br/
      “En mi experiencia, las traducciones hechas por computadoras solo contribuyen a que las ideas sean más confusas,” dijo Paccha sobre su decisión de ayudar y traducir manualmente varias páginas clave de la aplicación. Paccha es de descendencia chilena y ecuatoriana, habla español a nivel nativo y además ha dado clases de español, también dijo, “mi deseo era corregir esos errores y usar mi experiencia como traductor para el bien de mi comunidad.”
      %br/
      %br/
      La aplicación web está esperando respuesta sobre subvenciones que podrían ayudar a financiar la traducción de los otros 11 programas disponibles por Internet y los 4 programas disponibles por mensaje de texto SMS. Si desea contribuir a mRelief, visite la página bit.ly/mrelief-form
      %br/
