
<div class="container">

<div class="row">
<p class="lead">

<br>
<br>
<b>
  mRelief | www.mrelief.com | bit.ly/mrelief-form<br>
MEDIA ALERT <br>
FOR IMMEDIATE RELEASE <br>
Contact: Rose Afriyie, 570.982.1562, sariyie@gmail.com <br>
mRelief, local Chicago app demystifying eligibility for public assistance kicks off pilot at King Community Service Center<br>
</b>
<br>
Chicago 11/06/14 — This October, a Chicago-based startup, mRelief, launched at the City’s Martin Luther King Community Service Center on the South Side.<br>
<br>
Developed in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team, mRelief is a website application that pre-screens eligibility for benefits by assessing whether users meet the income, household size, age, and other basic requirements. mRelief emerged from the Open Government Hack Night that convenes weekly at 1871. Mayor Emanuel’s office presented at a July 2014 meeting, issuing an open call for ideas to bring technology into social services.<br>
<br>
“mRelief enables our staff to quickly connect more Chicagoans to benefits, putting more money in the pockets of residents in need.” said Commissioner Evelyn Diaz, of the Department of Family &amp; Support Services, which manages the King Community Service Center.<br>
<br>
Before mRelief was integrated into the workflow of caseworkers at the King Center, Chicagoans were not preliminarily screened for benefits eligibility when seeking social services. mRelief’s questionnaire accounts for the requirements of several government benefits, including Medicaid and SNAP Benefits, so that staff can assist residents in need in a matter of minutes.  Now applicants can rely on this quick pre-screen tool before taking valuable time to complete detailed application forms, gathering identifying documents, and waiting at the appropriate office for an interview.<br>
<br>
mRelief was programmed with Ruby on Rails by a team of all-women developers and is seed funded by the Smart Chicago Collaborative though their Civic Works Project. The Civic Works Project is a program funded by the Knight Foundation to help spur civic innovation in Chicago. Team mRelief is currently in a fundraising round for $200,000 and is using the platform Fundly to raise $50,000 by November 21st at bit.ly/mrelief-form. “mRelief is excited to use technology to solve an actual problem for underrepresented people. Our platform starts with alleviating long lines for first time applicants and empowering them with their next steps,” says Rose Afriyie, Project Manager of mRelief.<br>
<br>
The app determines eligibility through a brief questionnaire online and in an SMS form, backed by a database of eligibility requirements. The approach with SMS came about from a 2012 report by Partnership for a Connected Illinois which showed that 64 percent of Illinois residents are non-smartphone users meaning they use a feature phone with limited access to the internet. Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step, if not, they are directed to local community resources provided by Purple Binder’s database. Purple Binder is a Chicago-based company that matches people with community services that keep them healthy.<br>
<br>
“mRelief is a great example of a strong civic tech ecosystem in Chicago”, said Smart Chicago Collaborative Executive Director Daniel X. O’Neil. “We’re proud to use our Knight-funded Civic Works project to support the launch of mRelief.”<br>

</p>
</div>
</div>
