.container
  .row
    %p.lead
      %br/
      %br/
      %b
        mRelief | www.mrelief.com | bit.ly/mrelief-form
        %br/
        AVISO A LOS MEDIOS DE COMUNICACIÓN
        %br/
        PARA DIFUSIÓN INMEDIATA
        %br/
        Contacto: Rene M. Paccha, 774.314.9537, paccha@gmail.com
        %br/
        Comunicado de Prensa de mRelief:
        %br/
        Los hispanohablantes ahora podrán saber fácilmente si califican para estampillas de comida
        %br/
      %br/
      18 de diciembre de 2014
      %br/
      %br/
      CHICAGO–Tras la reciente orden ejecutiva sobre inmigración del Presidente Obama, mRelief, la aplicación web que ayuda a los residentes de Chicago a determinar si califican para beneficios del gobierno – y recursos comunitarios locales a través de Purple Binder #{link_to "Purple Binder", "http://purplebinder.com/"}
      – ha lanzado una versión en español. La última versión de la aplicación web incluye una traducción al español del sitio web y de las preguntas para determinar si cumple con los requisitos para solicitar estampillas de comida.
      %br/
      %br/
      El análisis de los datos del último Censo, llevado a cabo por “Pew Research Hispanic Trends Project” muestra que de las personas en Chicago que “hablan inglés menos que ‘muy bien’”, 62% son hispanos. Con cerca de 1.9 millones, El área metropolitano en Chicago contiene la 5ta población más grande de Latinos en Estados Unidos. Además, la población Latina – tanto los nacidos aquí como los nacidos en el extranjero – tiene el nivel más bajo de Ingreso Anual Medio Personal, de solamente $29,600. “Ya que el ingreso es un indicador principal para calificar para recibir estampillas de comida, es imperativo empoderar a la comunidad Latina para que sepan si llenan los requisitos para estos beneficios,” dijo Rose Afriyie, administradora de proyectos de mRelief.
      %br/
      %br/
      Gracias a una colaboración entre mRelief y LAF (Fundación de Asistencia Legal, por sus siglas en inglés), la aplicación comenzó a integrar el español al proporcionar a los usuarios que calificaban para estampillas de comida, asistencia con el pago de la renta y otros programas con información sobre los horarios en que personal que habla español estaría en uno de los #{link_to "centros de servicios comunitarios", "http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/community_servicecenterlocations.html"}.
      Ahora, la comunidad de Chicago que promueve el uso de programas de informática de fuente abierta les ha ayudado a ampliar su alcance.
      %br/
      %br/
      mRelief es un proyecto exitoso que comenzó con Open Gov Hack Night de 1871, un evento semanal que reúne a personas que trabajan en proyectos que unen las áreas de gobierno, servicios municipales y tecnología. mRelief se benefició de ser una aplicación de fuente abierta cuando el equipo, el cual es formado solamente por mujeres, se conectó un martes por la noche con el traductor al español René M. Paccha. Conforme la aplicación fue progresando, Paccha, quien también es un programador rubí, se mantuvo al corriente a través de Github. Utilizando el programa de traducción de fuente abierta R18n, creado por el programador Andrey Sitnik, Paccha completó la traducción del sitio web principal, la página con que evalúa si se llenan los requisitos para estampillas de comida y todas las páginas de respuesta sobre estampillas de comida. Manuela Sifuentes, fundadora de Malinalli Language Consultants, también contribuyó a la traducción al español.
      %br/
      %br/
      “En mi experiencia, las traducciones hechas por computadoras solo contribuyen a que las ideas sean más confusas,” dijo Paccha sobre su decisión de ayudar y traducir manualmente varias páginas clave de la aplicación. Paccha es de descendencia chilena y ecuatoriana, habla español a nivel nativo y además ha dado clases de español, también dijo, “mi deseo era corregir esos errores y usar mi experiencia como traductor para el bien de mi comunidad.”
      %br/
      %br/
      La aplicación web está esperando respuesta sobre subvenciones que podrían ayudar a financiar la traducción de los otros 11 programas disponibles por Internet y los 4 programas disponibles por mensaje de texto SMS. Si desea contribuir a mRelief, visite la página bit.ly/mrelief-form
      %br/
