<section class="container content-section">
  <div class="row home-page-marquee">
    <div class="col-md-12">
      <h1>What is mRelief's Next Iteration? </h1>
      <h1>The Public Template</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>The Public Template is a universal tool that enables program providers to empower their constituents to screen for eligibility with online and text messaging capability.</p>
    </div>
  </div>

  <div class="row program-options">
    <div class="col-md-4">
      <h3>Generate Screeners</h3>
      <p>A user friendly screener generator for your social services program</p>
    </div>

    <div class="col-md-4">
      <h3>Update Requirements</h3>
      <p>An interface to easily update program requirements as they change</p>
    </div>

    <div class="col-md-4">
      <h3> Manage Data</h3>
      <p>A dashboard that enables you and your team to view summary data of your questions and clients</p>
    </div>
  </div>

  <div class="row program-options">
    <div class="col-md-12">
      <h3>mRelief's Blog: For the Public Benefit</h3>
    </div>
    <div class="col-md-12 text-justified">
      <p>We are an all-woman software development team dedicated to fixing the broken American welfare system that leaves vulnerable people without access to available public assistance. We created mRelief.com and have reduced wait times in Chicago by 75 percent.  At this blog, we share what we are learning about how technology, especially open government, can work to the benefit of the public and help forge the path of least resistance to economic mobility. Our users are innovative government personnel, bold case workers, and  brave working Americans who remain persistent interacting with the safety net of healthcare, food, housing, childcare, cash -- all for the public benefit.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
      <h3>1 Parent’s Take: The Search For Early Learning Programs</h3>
      <p><i>By Rose Afriyie, Published August 6th, 2015</i></p>
      
      <p>Just in time for back-to-school season, we sat down with a Chicago parent to discuss early childhood programs. We talked about early learning challenges, preferences, and insights on the <%= link_to "Early Learning Finder", early_learning_url, target: "_blank" %>, that our organization mRelief tested with a parent this week.</p>
      <%= link_to("Continue Reading →", "https://medium.com/for-the-public-benefit/one-parents-take-finding-early-learning-programs-ab34daa3ce41", target: "blank") %>
    </div>
    </div>

    <div class="row">
    <div class="col-md-12">
      <h3>Open Data Features Bilingual Early Learning in Chicago</h3>
      <p><i>By Rose Afriyie, Published July 20th, 2015</i></p>
      
      <p>One of the greatest currencies I have in this life has been retaining my mother tongue, Twi, a language I learned as a child from the strong women who cared for me. My parents are immigrants who spent most of my early childhood working 1 or 2 full-time jobs just to make ends meet. So when my grandmother immigrated to the US during my early childhood to raise me, she taught me both English and Twi.</p>
      <%= link_to("Continue Reading →", "https://medium.com/for-the-public-benefit/open-data-features-bilingual-early-learning-in-chicago-959b35fe642e", target: "blank") %>
    </div>
    </div>

    <div class="row">
    <div class="col-md-12">
      <h3>Why Paper Prototypes Are Vital to Building with Communities</h3>
      <p><i>By Rose Afriyie, Published July 6th, 2015</i></p>
      
      <p>On June 1st, mRelief began the journey of our next major iteration — a universal template that would enable any program provider to create screeners for their programs on a user friendly interface. However, unlike the 5 iterations that preceded it, which involved implementing highly ranked user features from surveys and expansions to our forms which received the highest traffic, we tried something new. We were going to start our iteration without writing a single line of code — for a month.</p>
      <%= link_to("Continue Reading →", "https://medium.com/for-the-public-benefit/why-paper-prototypes-are-vital-to-building-with-communities-a3e9bcd0897f", target: "blank") %>
    </div>
    </div>
  



  <div class="row marquee">
  <div class="col-md-9 col-sm-10 col-xs-12">
    <form action="/email_lists/opt_in">
      <label>Would you like to receive email updates about the Public Template?</label>     
        <input type="text" placeholder="Email" class="form-field pull-left" name="email" >
          <button type="submit" class="pull-left">Join</button>
     </form>
    </div>
  </div>

</section>
