<div class="container marquee">
	<div class="row">
	<div class="col-md-12">
	<p class="lead"><h3>mRelief Brings Transparency to Food Stamps | April 28, 2015</h3>

	<br>
	<br>
	Chicago — Launched in partnership with the Sunlight Foundation, mRelief has taken the next step in making eligibility determination more accessible to Chicagoans in need of food stamps. Families can now learn not just whether they qualify, but why – or why not. <br>
	<br>
	While food stamp eligibility requirements are available in the DHS policy manual, it can be difficult to access and understand for low-income people already burdened with the stressful circumstance of poverty. “Food stamp applicants can arrive at in-person interviews with more information about what policies favor their eligibility and ineligible users can make a more precise assessment on whether it is worth it to invest the time in appeals, ” said Rose Afriyie, co-founder of mRelief.
	<br>
	<br>
	In a recent user testing session of mRelief conducted by the Smart Chicago Collaborative, 82 percent of Chicagoans eligible for  public benefits felt it was “very important” to know why they did or did not qualify. “I’ve seen first-hand the devotion mRelief has to meeting the needs of the people who use their service. This change in the core features of their product, based on our  CUTGroup test, is a great indication of success”, said Daniel X. O’Neil, Executive Director of the Smart Chicago Collaborative.
	<br>
	<br>
	The new interface – available in both English and Spanish – will show how a user’s household income compares with the maximum limit. Users who are living in extreme poverty – down to less than a $100 – will be notified of the reduced application wait times they enjoy. Additionally, Qualified Member Households, students and non-citizens are also given further information about how the state’s policies govern their eligibility. The new responses to forms are also available for printing for users to bring with them to interviews or share with friends.
	<br>
	<br>
	"Sunlight is proud to support mRelief's work helping to make government information more easily accessible to everyone,” said Scott Wells, Operations Director of the Sunlight Foundation. In December, mRelief was the recipient of Sunlight Foundation’s Open Gov Grant, a $10,000 grant to help organizations make government more transparent and accountable. With this approach, relevant components of state food stamp policy will become more accessible to the people most affected by it, creating an opportunity for open discussion about eligibility guidelines. mRelief is a nonprofit organization that receives it's status through fiscal sponsor Good City and provides access to community resources through Purple Binder.

	</p>
	</div>
	</div>
</div>