<div class="container marquee">
	<div class="row">
	<p class="lead"><h3>mRelief empowers students with food stamps eligibility information | Mar. 20, 2015</h3>
	<br>
	<br>
	Chicago — In partnership with the Harris School of Public Policy and other advocates in food stamps eligibility, mRelief has expanded eligibility determination to include more college students.  <br>
	<br>
	In recent years, <a href="http://www.forbes.com/sites/johnebersole/2014/01/13/top-issues-facing-higher-education-in-2014/">studies</a> have shown that the profile of the college student is changing. Shifting student demographics show that a typical student is no longer an 18 to 24 year old studying full-time on campus but that fewer than 20 percent of the roughly 20 million enrolled as of 2015 fit this traditional description. The average college student is older, working part-time, and often commuting, either by car or, increasingly, the Internet. Policies and outreach need to account for this demographic.
	<br>
	<br>
	"There is a myth that financial aid is the primary support that students can access during times of need," says Genevieve Nielsen, "With questions inclusive of a range of higher education institutions and students who work part-time, we are empowering students in need with more options."
	<br>
	<br>
	Eligibility determination expansion for students on mRelief.com was a product of mRelief’s Open Foodstamps Hackathon that took place on February 21-22. Hosted at the Chicago Innovation Exchange and with food and resources funded by Microsoft and Code for America, students and policy advocates gathered to expand the screening process with targeted, but brief questions.According to Lauren Pett, the Co-Chair of the Harris Food Policy Advocacy Group at the Harris School of Public Policy, “It is crucial that students eligible for SNAP should be able to access the program so their nutritional needs are met and they can focus on their education.”
	<br>
	<br>
	mRelief is dedicated to fixing the broken American welfare system that leaves the most vulnerable without access to available public assistance. Starting with Chicago the organization, which receives its 501C-3 status through the nonprofit Good City, does this through modernizing eligibility determination by making it accessible through online and text messaging. Users who want to know whether they qualify for public benefits can do so by completing forms which ask questions about household size, age, income, and other basic requirements.
	<br>
	<br>
	mRelief’s integration into Community Service Centers, social service agencies administered by the city of Chicago, has resulted in the eligibility determination time being reduced by 75 percent -- from an average of 16 to 4 minutes for the session pertaining to checking eligibility. With support from Good City and the City of Chicago, mRelief launched a Southside and Westside bus campaign on 70 CTA buses to scale awareness.
	<br>
	<br>
	mRelief emerged from the Open Government Hack Night that convenes weekly at Braintree. Mayor Emanuel’s office presented at a July 2014 meeting, issuing an open call for ideas to bring technology to social services delivery. Since then, the all-woman software development team has also forged partnerships with LAF (formerly the Legal Assistance Foundation), Purple Binder, Chicago Public Libraries, Smart Chicago Collaborative, the Center for Working Families, and most recently Food and Policy Group at University of Chicago Harris School.

	</p>
	</div>
</div>

