  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_tree .

  *= require jquery-ui
 *= require_self
 */

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

header {
  margin-top: 60px;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}

.logo {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.btn-donate {
  background-color: #5F5F5F;
  color: white !important;

}

.btn-donate:hover {
  background-color: #454545 !important;
  color: white !important;

}

.navbar {
  border-bottom: 1px solid #EAEAEA;
}

.navbar-default .navbar-nav>li>a{
 color: #A6A6A6;
 font-size: 15px;
 border: none;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #4C4C4C;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  border: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #37BC9B;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #37BC9B;
  background-color: #fff;
}

.dropdown-menu {
  font-size: 15px;
  right: -90px !important;
  top: 50px;
  box-shadow: none;
}

.alert-info {
  background-color: #4582ec;
  padding-top: 50px;
}

.alert-warning {
  padding-top: 50px;
}
}



/*HOMEPAGE*/

.header-background{
  background-color: #4582ec;
  color:white;
}

.homepage-marquee {
  padding:100px 0 40px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subhead {
  font-size: 20px;
  text-align: center;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 40px auto 60px auto;
  border-radius: 0px;
}


.program-btn {
  margin: 30px auto 0px auto;
}

.homepage-btn {
  margin: 0px auto 0px auto;
}


.logo-padding {
  padding: 30px 30px 20px 30px;
}


.footer {
  margin-top: 30px;
  padding: 30px 0 40px 0;
  border-top: 1px solid #CCCCCC;
  /*background-color:#f4f4f4;*/
  border-bottom:none;
}

#disclaimer {
  font-size: 12px;
  text-align: left;
  padding-top: 30px;
}

/*ALL PROGRAMS*/

a:hover {
  text-decoration: none;
}


.allprograms-background{
  background-color: #F4F4F4;
}


/*.btn-full {
  width: 100%;
  border-radius: 0px;
}
*/
.thumbnail{
  height: 170px;
  background-color: #fbfbfb;
  text-align: center;
  padding: 0 30px 30px 30px;
  border: 2px solid #D7D7D7;
  border-radius: 0;
}

.btn-program{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  border-radius: 0;

}

.program-heading{
  text-align: center;
  padding-bottom: 30px;
  color: #4582ec;
}

/*PROGRAM PAGE*/

.page-header {
  border:none;
  text-align: center;
  margin-top: 80px;
}

.subsection{
  text-align: center;
  margin-top: 40px;
}

.blocktext {
    display: block;
    margin: 0 auto;
    float: none !important;
    text-align: center;
}

.team {
  width: 250px;
  height: auto;
  border: 2px solid #e7e7e7;
  margin: 50px 0 30px 0;
}

.panel {
  /*width: 960px;*/
  padding-top:15px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FAFAFA;
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

.allcitypanel{
  background-color: #ececec;
  padding: 0px;
  border-radius: 0px;
}

.allcityheading{
  padding: 0px 15px 15px;
}

.list-group-item{
  padding-bottom: 30px;
}

.table {
  border:#FAFAFA;
}

.allthatapply{
  font-weight: bold;
  text-align: left;
}

 /*HOW*/
 .left-align{
  text-align: left;
 }

 .sectiondivider{
  background-color: #4582ec;
  margin: 20px 0 10px 0;
  height: 2px;
  width: 400px;
}

.bluedivider{
  background-color: #4582ec;
  margin: 20px 0 10px 0;
  height: 10px;
  width: 40px;
}

.btn-resolution{
  margin: 10px auto 10px auto;
}

.form-group{
  font-family: 'Source Sans Pro', sans-serif;
}

.thumbnail {
  padding: 0 20px 20px 20px;
}

.allcityheader {
  color: #e74b14;
}

.col-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.close:hover {
  background: transparent;
}


.how-to {
  padding: 0 60px 60px 60px;
}


.print-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.calculator {
  border-radius: 4px;
}

.sticky_calculator {
  position: fixed !important;
  top: 55px;
}

.close_modal {
  color:black;
}

.hover_explanation {

  padding: 10px;
  margin-top: 10px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  white-space: normal;
}

.missing_global_question {
  z-index: 100;
}

.inline_text {
  display: inline;
}

/*This makes placeholder text gray on Internet Explorer*/
input::-webkit-input-placeholder {
  color: #b5b5b5;
}
input:-ms-input-placeholder { 
  color: #b5b5b5; 
}

.rental-link {
  border:0;
  background-color: #FFFFFF;
}

