
.logo {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

.navbar {
  border-bottom: 1px solid #CCCCCC;
}

ul {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;

}
