/*HOMEPAGE*/

.homepage-marquee {
  padding:80px 0 40px 0;
}

.subhead {
  font-size: 20px;
  text-align: center;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
}

.homepage-btn {
  margin: 40px 0 40px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

