.container
  :javascript
    $(function ()
          { $("[data-toggle='popover']").popover();
          });
  .page-header.col-md-10.col-md-offset-1{:style => "border:none;"}
    %h1 Do I qualify for Medicaid?
    .subhead
      %p If you are an adult (19 and over) and a resident in the state of Illinois, you may qualify for Medicaid.
  - if @medicaid.errors.any?
    - @medicaid.errors.full_messages.each do |message|
      .alert.alert-dismissable.alert-danger
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = message
  .row
    .panel.panel-default.col-md-8.col-md-offset-2
      .panel-body
        %form.form-horizontal{:action => "/medicaids", :method => "post"}
          .form-group.col-md-12
            %label#citizen.pull-left{:for => "citizen"} Are you a citizen of the United States?
            .row
              .col-md-6
                #citizen{:required => ""}
                  = radio_button_tag 'citizen', 'yes'
                  yes
                  \#{radio_button_tag 'citizen', 'no'} no
          / Label and input for medicaid_household_size
          .form-group.col-md-12
            %label{:for => "medicaid_household_size"} What is your household size?
            %button{"data-content" => "Household size: How many people live in your home (including yourself)?", "data-placement" => "top", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; background-color: #FAFAFA", :type => "button"}
              %i.fa.fa-info-circle
            .row
              .col-md-6
                %input#medicaid_household_size.form-control{:name => "medicaid_household_size", :placeholder => "For example: 3", :required => "", :type => "text"}/
          / Label and input for medicaid_gross_income
          .form-group.col-md-12
            %label{:for => "medicaid_gross_income"}
              What is your monthly income?
            %button{"data-content" => "Monthly income includes wages, Social Security, SSI, pensions, rental income, unemployment, worker's compensation, or other disability payments.", "data-placement" => "top", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; background-color: #FAFAFA", :type => "button"}
              %i.fa.fa-info-circle
            .row
              .col-md-8
                .input-group
                  %span.input-group-addon $
                  %input#medicaid_gross_income.form-control{:name => "medicaid_gross_income", :placeholder => "For example: 30000", :required => "", :type => "text"}/
                  %span.input-group-addon .00
          .form-group.col-sm-9.pull-left
            %label{:for => "zipcode"} What is your zipcode?
            %input#zipcode.form-control{:name => "zipcode", :placeholder => "For example: 60615", :required => "", :type => "text"}/
          .row
            .col-md-6
              = render "programs/calculator"
          %div
            %button.btn.btn-primary.program-btn{:type => "submit"} See if I qualify
