<div class="form-group col-sm-9">
  <label for="phone_number">What is your cell phone number?</label>
    <button type="button" data-toggle="popover" data-content="We will use this number to send you reminders throughout the application process." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
  <div>
    <input type="text" id="phone_number" name="phone_number" placeholder="For example: 3125555555" class="form-control" >
  </div>
</div>


<script type="text/javascript">

$(function ()
  { $("[data-toggle='popover']").popover();
});
</script>
