
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
    <h4>  <a href="#" class="btn btn-primary btn-lg print-button" onclick="window.print();return false;"><i class="fa fa-print"></i>  Print</a></h4>
    </div>
  </div>
</div>

