
<div class="row">
  <div class="col-md-12">
    <h4>  <a href="#" class="btn btn-primary btn-lg print-button-right" onclick="onPrint();"><i class="fa fa-print"></i>  Print</a></h4>
  </div>
</div>

<!-- function that puts the text below  -->

<script type="text/javascript">

var onPrint = function(){

  //incase the user is printing for the second time
  $('.income_explanation_row').remove();
  $('.citizenship_explanation_row').remove();
  $('.education_explanation_row').remove();

  // add ids
  $("<tr class=\"income_explanation_row\"><td></td><td id='print_income'></td><td></td></tr>").insertAfter('#income_row');
  $("<tr class=\"citizenship_explanation_row\"><td></td><td id='print_citizenship'></td><td></td></tr>").insertAfter('#citizenship_row');
  $("<tr class=\"education_explanation_row\"><td></td><td id='print_education'></td><td></td></tr>").insertAfter('#education_row');

  //get the explanations
  income_explanation = $("#income_explanation p")
  citizenship_explanation = $("#citizenship_explanation p")
  education_explanation = $("#education_explanation p")

  // insert relevant explanations into the row
  $(income_explanation[0]).clone().appendTo('#print_income');
  $(citizenship_explanation[0]).clone().appendTo('#print_citizenship');
  $(education_explanation[0]).clone().appendTo('#print_education');


  window.print();
  return false;

};
</script>
