<div class="container">
   <div class="resources">
    <div class="row">
     <div class="col-md-7">
        <h3>Additional Programs</h3>
        <p>To check your eligibility for additional programs, please visit www.mrelief.com or text 'hello' to 773-377-8946.</p>
      </div>
    </div>
  </div>
</div>
